<div class="row" style="background-color: lightcoral">

  <div class="col-sm-6">

    <img [routerLink]="'[/home]'" src="http://e00-marca.uecdn.es/assets/multimedia/imagenes/2017/07/14/15000180216835.jpg" alt="" style="height: 50px; margin-left: 20px">

  </div>

  <div class="col-sm-6">

    <ul class="nav justify-content-end" style="margin-right: 20px">
      <li class="nav-item">
        <button type="button" [routerLink]="['/carrito']" class="btn btn-light" style="padding-top: 15px; background-color: lightcoral">
          <mat-icon [matBadge]="items.length" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" [routerLink]="['/home']" class="btn btn-light" style="padding-top: 15px; background-color: lightcoral">
          <mat-icon matBadgeColor="warn">account_box</mat-icon>Danni Brito
        </button>
      </li>
    </ul>
  </div>
</div>
