<div class="row">
  <div class="col-sm-12">

    <app-navegador-principal></app-navegador-principal>

  </div>

</div>


<div class="row">

  <div class="col-sm-12">

    <form class="example" style="margin:auto;max-width:300px">

      <br>
      <br>
      <input type="text" (keyup)="onNameKeyUp($event)" placeholder="Buscar en el catálogo.." name="search">
      <button type="button" (click)="getProfile()"><i class="fa fa-search"></i></button>
    </form>

  </div>


</div>

<div class="row">

  <div class="col-sm-12">

    <app-marca-general id="marca" [resultadosMod]="respuestaServerMod"></app-marca-general>

  </div>

  <div class="col-sm-12">

    <app-modelo-detalle id="modelo" [resultadosMarc]="respuestaServerMarc"></app-modelo-detalle>

  </div>



</div>



